APP_NAME=be-vita-hot-engine
APP_ENV=develop
APP_HOST=0.0.0.0
APP_PUBLIC_HOST=127.0.0.1
APP_PORT=8000
HOT_API_TOKEN=replace-with-a-secure-token
HOT_HTTP_TIMEOUT=8
HOT_DAILYHOT_BASE_URL=https://api-hot.imsyy.top
HOT_ZHIHU_COOKIE=
HOT_FILTER_WEIBO_ADVERTISEMENT=false
